@import '~bootstrap/scss/bootstrap';

// $ to store variables
$body-bg-color: #ACDF87;
$alt-color: #4C9A2A;
$font-color: #1E5631;
$box-bg-color: #68BB59;

html, body {
  background-color: $body-bg-color;
}

input {
  border: 1px solid;

}

.initial-forms {
  flex-direction: column;
  align-items: stretch;
}

.right-align {
  padding-left: 5px;
  padding-right: 10px;
}

.game-board {
  // game-board set to scale to entire height
  height: 100vh;
  width: 50%;
  margin: auto;
}

td {
  width: 25vh;
}

.board {
  // set max size of board to be 100% of viewport's height - 75px
  max-height: calc(100vh - 75px);
  max-width: calc(100vh - 75px);
}

.box {
  border-right: 2px solid black;
  border-bottom: 2px solid black;
  color: $font-color;
  background-color: $box-bg-color;
  display: flex;
  // markers centered on main axis
  justify-content: center;
  // markers centered on cross axis
  align-items: center;
  color: white;
  font-size: 12vh;
  // add shadow 2px below and to the right
  text-shadow: 2px 2px rgba(0, 0, 0, .25);
  min-height: calc(100% / 3);
  // make sure user cannot select text when clicked on
  user-select: none;
  // select the 3 right boxes (3n - every 3rd box)
  &:nth-child(3n) {
    border-right: 0;
  };
  // (-1n + 3) selects last 3 elements
  &:nth-last-child(-1n + 3) {
    border-bottom: 0;
  }
  &:hover {
    background-color: DarkGreen;
  }
}

.alt-color {
  background-color: $alt-color;
}

p#message{
  margin: auto;
  text-align: center;
}

#title {
  text-align: center;
}
